* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ten_pd {
  padding: 10px;
}

.bold {
  font-weight: 700;
}

.container {
  display: flex;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.5);
}

.app {
  display: flex;
  width: 80%;
  height: 95%;
  margin: auto;
  font-family: 'Lato', sans-serif;
}

.left {
  width: 35%;
  height: 100%;
}

.header {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EAEAEA;
}

.header img {
  max-height: 50px;
  border-radius: 50px;
}

.account_name {
  line-height: 50px;
  vertical-align: bottom;
  font-weight: 700;
}

.header .icons a {
  padding: 5px;
  color: #B1B1B1;
}

.sub_header {
  height: 10%;
  display: flex;
  align-items: center;
  background-color: #8EDAFC;
}

.bell {
  background-color: #fff;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
}

.bell a {
  text-decoration: none;
  color: #8EDAFC;
}

.search {
  height: 7%;
  background-color: #EAEAEA;
}

.contacts {
  height: 73%;
  background-color: #fff;
  overflow: auto;
}

.right {
  width: 65%;
  height: 100%;
}

.messages {
  height: 80%;
  background-image: url(../img/mine.jpg);
  overflow: auto;
}

.type {
  height: 10%;
  background-color: #F3EEEA;
}
